<div class="px-6 py-4">
  <div class="cursor-pointer font-bold text-xl mb-2" (click)="goToDetail()">{{movieData.title}}</div>
</div>

<div class="flex flex-wrap justify-center">
  <div class="px-4">
    <img 
      class="shadow-lg rounded max-w-full h-auto align-middle border-none cursor-pointer"
      [src]="movieData.poster || '/assets/img/no-image.jpg'" 
      [alt]="movieData.title"
      (click)="goToDetail()"
    >
  </div>
</div>

<div class="px-6 pt-4 pb-2">
  <ng-container *ngFor="let genre of movieData.genre">
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
      #{{genre}}
    </span>
  </ng-container>
</div>