<div class="container mx-auto pt-8 p-10 relative">
  <div class="relative">
    <div class="absolute top-0 right-0">
      <button 
        class="p-2 pl-5 pr-5 bg-blue-400 hover:bg-blue-700 font-bold border border-blue-500 text-white text-lg rounded-lg"
        (click)="goToAddMovie()"
      >
        Nueva película
      </button>
    </div>
  </div>
</div>


<div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
  <ng-container *ngFor="let movie of moviesList;">
    <div class="bg-gray-400 rounded overflow-hidden shadow-lg">
      <mov-movies-list-item [movieData]="movie" (goToDetailEvent)="goToDetail(movie.id)"></mov-movies-list-item>
    </div>
  </ng-container>
</div>
