<mov-sidebar></mov-sidebar>

<div class="relative md:ml-64 bg-gray-200">
  <nav
    class="absolute top-0 left-0 w-full z-10 bg-transparent md:flex-row md:flex-nowrap md:justify-start flex items-center p-4">
    <div class="w-full mx-autp items-center flex justify-between md:flex-nowrap flex-wrap md:px-6 px-2">

      <ng-container *transloco="let t;">
        <a class="cursor-default text-black text-lg uppercase hidden lg:inline-block font-semibold"
          href="javascript:void(0)"
        >
          {{t('sectionMovies')}}
        </a>
      </ng-container>
    </div>
  </nav>

  <div class="relative bg-yellow-400 md:pt-12 pb-8 pt-12"></div>

  <router-outlet></router-outlet>

  <mov-footer></mov-footer>
</div>

<mov-loader></mov-loader>

